[submodule "dlib"]
	path = dlib
	url = https://github.com/davisking/dlib.git
[submodule "rollinghashcpp"]
	path = rollinghashcpp
	url = https://github.com/lemire/rollinghashcpp.git
[submodule "seqan3"]
	path = seqan3
	url = https://github.com/seqan/seqan3.git
