[submodule "dlib"]
	path = dlib
	url = https://github.com/davisking/dlib.git
[submodule "rollinghashcpp"]
	path = rollinghashcpp
	url = https://github.com/lemire/rollinghashcpp.git
[submodule "HighFive"]
	path = HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "xxhash_cpp"]
	path = xxhash_cpp
	url = https://github.com/RedSpah/xxhash_cpp.git
